@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
    box-sizing: border-box;
    /* to avoid width problems if padding */
}

#img-1 {
    background-image: url("../assets/Screenshot\ 2023-07-21\ 112234.png");
}

#img-2 {
    background-image: url("../assets/Screenshot\ 2023-07-21\ 112249.png");
}

#img-3 {
    background-image: url("../assets/Screenshot\ 2023-07-21\ 112307.png");
}

#img-4 {
    background-image: url("../assets/Screenshot\ 2023-07-21\ 112319.png");
}

#img-5 {
    background-image: url("../assets/Screenshot\ 2023-07-21\ 112339.png");
}

body {
    background-color: #aef;
    font-family: "Muli", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    
    margin: 0;
}

.container {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #753;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 7ms ease-in 0.4s;
}

@media (max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}